venv
.venv
__pycache__
CHANGELOG.local.md
*.ipynb
*.json
dist/
orkes.egg-info/
upload.py
.env
.pytest_cache
tests/reports/
traces/
docs/_build/
docs/build/
docs/source/api
.DS_STORE
build/
tests/benchmarks/results